Microsoft.Flow/flows/14fe4fd9-3d4b-4379-ad0b-15c470ab6963/definition.json
{"name":"621f6f35-0e33-4922-a6f9-9c2aff16e63c","id":"/providers/Microsoft.Flow/flows/621f6f35-0e33-4922-a6f9-9c2aff16e63c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Meeting Approval ","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"13d8cc3c-a734-4412-8c2c-54c88a9585c2","type":"User","tenantId":"4d77e20a-1a12-4bbd-a574-286ed86e8fdf"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-02-26T08:22:30.6276867Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"CreateFormWebhook"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/microsoftforms"}},"body":{"eventType":"responseAdded","notificationUrl":"@{listCallbackUrl()}","source":"ms-connector"},"path":"/formapi/api/forms/@{encodeURIComponent('CuJ3TRIavUuldChu2G6P3zzM2BM0pxJEjCxUyIqVhcJURTExU0hUOE9PVjVaQ0NGSTNVN1JJS0xCQi4u')}/webhooks","authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFormResponseById"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_microsoftforms']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/microsoftforms"}},"method":"get","path":"/formapi/api/forms('@{encodeURIComponent('CuJ3TRIavUuldChu2G6P3zzM2BM0pxJEjCxUyIqVhcJURTExU0hUOE9PVjVaQ0NGSTNVN1JJS0xCQi4u')}')/responses","queries":{"response_id":"@triggerBody()?['resourceData']?['responseId']"},"authentication":"@parameters('$authentication')"}},"Start_an_approval":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribeV2"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_approvals']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals"}},"body":{"notificationUrl":"@listCallbackUrl()","title":"Approval for response","assignedTo":"cplcontoso@cplcontoso.onmicrosoft.com","details":"Name: @{body('Get_response_details')?['r58f203e2668243ecb8315a7e9974e100']} Company: @{body('Get_response_details')?['r1a11b88bbbbd476c9df1eb05dec04af6']}","enableNotifications":true},"path":"/types/basic/$subscriptions","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Add_a_row_into_a_table":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddRowV2"},"01PJGM3PXAMZUK3FB2KNE2AUEXI247YPZD":"/All Meeting Note.xlsx","01PJGM3PSJOG4T5M4RSVCJWMUT7R2QCE22":"/Meeting.xlsx"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_excelonlinebusiness']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/excelonlinebusiness"}},"method":"post","body":{"Name":"@body('Get_response_details')?['r58f203e2668243ecb8315a7e9974e100']","A/R":"Approved @{body('Start_an_approval')?['responder']?['displayName']}"},"path":"/codeless/v1.2/drives/@{encodeURIComponent('b!SfUQPSWAoU2_PRYT5KKblukaLQh_LWlJrbyaziCqCIgNklqAoJpKQ5DR30i4TAI5')}/items/@{encodeURIComponent('01PJGM3PSJOG4T5M4RSVCJWMUT7R2QCE22')}/workbook/tables/@{encodeURIComponent('{E526B602-6FDA-4530-A6D9-2565762ED93C}')}/rows","queries":{"source":"me"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_an_approval":["Succeeded"]},"else":{"actions":{"Add_a_row_into_a_table_2":{"runAfter":{},"metadata":{"01PJGM3PXAMZUK3FB2KNE2AUEXI247YPZD":"/All Meeting Note.xlsx","flowSystemMetadata":{"swaggerOperationId":"AddRowV2"},"01PJGM3PSJOG4T5M4RSVCJWMUT7R2QCE22":"/Meeting.xlsx"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_excelonlinebusiness']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/excelonlinebusiness"}},"method":"post","body":{"Name":"@body('Get_response_details')?['r58f203e2668243ecb8315a7e9974e100']","A/R":"Reject @{body('Start_an_approval')?['responder']?['displayName']}"},"path":"/codeless/v1.2/drives/@{encodeURIComponent('b!SfUQPSWAoU2_PRYT5KKblukaLQh_LWlJrbyaziCqCIgNklqAoJpKQ5DR30i4TAI5')}/items/@{encodeURIComponent('01PJGM3PSJOG4T5M4RSVCJWMUT7R2QCE22')}/workbook/tables/@{encodeURIComponent('{E526B602-6FDA-4530-A6D9-2565762ED93C}')}/rows","queries":{"source":"me"},"authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"},"Post_a_choice_of_options_as_the_Flow_bot_to_a_user":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeUserMessageWithOptions"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://unitedstates-002.azure-apim.net/apim/teams"}},"body":{"notificationUrl":"@{listCallbackUrl()}","body":{"options":["@{body('Get_response_details')?['r58f203e2668243ecb8315a7e9974e100']}  @{body('Get_response_details')?['r1a11b88bbbbd476c9df1eb05dec04af6']}"],"messageTitle":"Meeting Approval ","messageBody":"You have a meeting request approval from @{body('Get_response_details')?['r1a11b88bbbbd476c9df1eb05dec04af6']} Name: @{body('Get_response_details')?['r58f203e2668243ecb8315a7e9974e100']}","recipient":{"isAlert":true}}},"path":"/flowbot/actions/messagewithoptions/recipienttypes/user/$subscriptions","authentication":"@parameters('$authentication')"}}},"outputs":{},"description":"When a new response is submitted to Microsoft Forms, start an approval process. If approved, record the response in an Excel spreadsheet and send an email. Otherwise, send an email notifying that the approval was declined."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-be845043-bfcc-41fb-8e1c-2a64872aa8d8","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-0076fd3b-8b15-4efb-9608-f85f0184e710","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-9c7f3e87-1761-4a9f-a9f3-92fd7b254381","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-23856d2f-db9d-49eb-bf62-9afb7edb1f4a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}